.hero {
background-image: url(../../Images/header-x1.png);
height: 15rem;
background-attachment: fixed;
background-position: right;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: flex-end;  
}

.hero-title {
font-size: 2rem;
font-family: "Rubik", sans-serif;
font-weight: 600;
color: #fdfcfb;
margin: 2rem;
}